<!DOCTYPE html>
<html>
<head>
    <title>Update Employee</title>
</head>
<body>

<h2>Update Employee</h2>

<form action="/update_employee2" method="POST">
        <br>

                
            <p>
                <label for="T2">Employee Name</label>
                <input type="text" id="T2" name="T2">
                </p>

            <p>
                <label for="T3">Employe Surname</label>
                <input type="text" id="T3" name="T3">
                </p>

            <p>
                <label for="LB1">Employee Position</label>
                <input type="text" id="LB1" name="LB1">
                </p>

    
        

            <input type="submit" value="Update">
</form>

</body>
</html>